* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html,body {
    height: 100%
}

body{
    background: papayawhip;
    min-height: 100vh;
    font-size: 16px;
}

main, header,footer{
 padding: 20px;
 color:#141414;   
}

.flex-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    line-height: 24px;
}

header,footer {
    line-height: 60px;
}

main{
    flex: 1;
    overflow: auto;
    display: flex;
}

img{
    width: 25%;
}

.column{
    padding: 20px;
    height: 100%;
    width:50%;
}

.pullquote {
    font-family: 'Libre baskerville', serif;
    color: tomato;
    font-style: Italic;
    line-height: 30px;
    width: 100%;
    font-size: 18px;
}


