* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    font-weight: 400;
}

nav {
    height: 40px;
}

.container {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background: tomato;
    line-height: 50px;
}

a {
    text-decoration: none;
    color:white;
}

li {
    padding: 0 40px;
}

li:hover {
    animation: colors 3s;
}

@keyframes colors {
    50% {
        background-color: tomato;
    }
    100% {
        background-color: tomato;
    }
}


.theme {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin: 50px;
    padding-top: 200px;
    font-size: 12px;
  }
  
  h1 {
    color: tomato;
    padding-top: 50px;
  }
  
  .guide {
    color: #e67a9e;
    font-size: 10px;
  }

  p {
    margin: 0.5em 0;
  }
  
  #switcher {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  #switcher li {
    float: left;
    height: 50px;
    width: 50px;
    margin: 0 15px 15px 0;
    border-radius: 50px
  }
  
  /* button colors */
  
  #grayButton {
    background-color: papayawhip;
  }
  
  #whiteButton {
    background: #f7ca97;
  }
  
  #blueButton {
    background: #ffa411;
  }
  
  #yellowButton {
    background: #800000;
  }
  
  /* background colors */
  
  .gray-theme {
    background-color: papayawhip;
  }
  
  .white-theme {
    background-color:#f7ca97;
  }
  
  .yellow-theme {
    background-color: #f7ca97;
  }
  
  .blue-theme {
    background-color: #fbb5df;
    /*   change text to white */
    color: white;
  }
