
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}


.flexContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}

div{
  width: 50vw;
  height: 50vh;
}

.one { background: #DDD; }
.two { background: #AAA; }
.three { background: #777; }
.four { background: #444; }

.title img {
  width:20%;
}