* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size:14px;
}


.flexContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
}



.division {
  width: 50vw;
  height: 50vh;
}

/* .one { background: #DDD; }
.two { background: #AAA; }
.three { background: #777; }
.four { background: #444; } */

.title img {
  width:20%;
}





/* CSS for filter */




.container {
  position: fixed; /* or absolute */
  top: 40vh;
  left: 40vw;
  font-weight: 300;
}

.filters {
  justify-content: center;
  align-items: center;
  left: 50%;
  flex-direction: column;
  display: flex;

}

.filter-btn {
  color: white;
  background-color: black;
  border-radius: 20px;
  width: 18px;
  height: 18px;
  text-align: center;
  border: none;
  vertical-align: middle;
  margin: 3px;
}

.centerMargin {
  margin: 5px;
}


.skala:hover {
  background: blue;
}

.lastLeaf:hover {
  background: whitesmoke;
}

.khmer:hover {
  background: gray;
}

.changingPlaces:hover {
  background: yellow;
}

.hide {
  display: none;
}

/* .show {
  display: flex;
} */


